@import 'button';
@import 'text';

container-width= 1200px

@media (min-width: 768px)
  .container 
    width: container-width


.navbar{ 
    border-radius: 0; 
}

html {
 min-width:940px;
}
.navbar-nav>li, .navbar-nav {
float: left;
margin:0px;
}

.navbar-right {
float: right;
}

.container 
 margin-top:20px
 margin-bottom:20px
 min-width:container-width


td, th
  text-align:center
  vertical-align:middle !important

.well {
  background-color: #eee;
}

.navbar {
  border-radius: 0;
}

.panel {
    margin-bottom:0;
}

.panel-body{
  font-size: 14px;
  background-color: #d3dff5;
}

.panel-heading{
  background-color: #7fc7af;
}

.soft {
  font-size: 14px;
  font-weight: bold;
}

.para {
  font-size: 14px;
  font-weight: bold;
}

.the-legend 
    border-style: none
    Color: White
    background-color:#5bb3ff
    width: auto
    font-weight: bold
    font-size: 14px
    line-height: 20px
    margin-bottom: 0px
    padding:3px 7px
    border-radius:3px
    
.the-fieldset {
    border: 2px groove #444;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

.footer{
  visibility: hidden;
  font-size: 14px;
  font-weight: bold;
  min-width:812px;
}


.container-fluid {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #87BBE9;
}

a.navbar-brand {
    color:#E5FFCC;
}
.navbar-brand
    font-family: 'Frijole', cursive
    font-size:30px


footer>div {
   padding-top:8px;
   padding-bottom:8px;  
}

.clear {
    clear: both;
}

.header {
  background: #87BBE9;
}

.explain {
    font-size:18px;
    font-weight:bold;
    padding-left:15px;
    color:#295202;
}

a.disabled 
  cursor: not-allowed
  opacity: .65
  color:grey

.gradient
    background: linear-gradient(141deg, rgba(15,184,173,0.6) 0%, rgba(31,200,219,0.6) 51%, rgba(44,181,232,0.6) 75%)

.btn-primary
  background-color:#42739e
  
#ugury
  position:relative
  bottom:-0.1em