{% extends "base.html" %} {% block content %}
<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <fieldset class="well the-fieldset">
        <legend class="the-legend embossed_txt">
          Brief introduction
        </legend>
        <p>
          <h4 class="text-primary" style="font-size:14px;text-align:justify;line-height: 120%">
                 Gene Prediction using GeneMark
                </h4>
        </p>
      </fieldset>
      <fieldset class="well the-fieldset">
        <legend class="the-legend embossed_txt">
          Citation
        </legend>
        <p>
          <h4 class="text-primary" style="font-size:14px;text-align:justify;line-height: 120%">
                 </h4>
        </p>
      </fieldset>
      <fieldset class="well the-fieldset">
        <legend class="the-legend embossed_txt">
          Contact
        </legend>
        Frank M. You (Ph.D)
        <h4 class="text-primary" style="font-size:14px;text-align:justify;line-height: 120%; white-space:normal">
<p style="white-space:pre">
Bioinformatics, Research Scientist
Agriculture and Agri-Food Canada 

101 Route 100, Morden, Manitoba R6M 1Y5 
Frank.you@agr.gc.ca 

Tel:  204-822-7525/Cel: 204-384-0704/TTY: 613-759-7470

Bioinformatique, Chercheur Scientifique
Agriculture et Agroalimentaire Canada

101 CH 100, Morden, Manitoba R6M 1Y5 
Frank.you@agr.gc.ca 

Tél: 204-822-7525/Tél Cell: 204-384-0704/ATS: 613-759-7470
</p>
                </h4>
      </fieldset>
    </div>
  </div>
</div>
{% endblock %}
