<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="#" rel="shortcut icon" />
    <title>
        {% if title %} {{ title }} {% else %} Gene Prediction {% endif %}
    </title>
    <link href="{{ url_for('static', filename='style/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='style/frijole.css') }}" rel="stylesheet" type="text/css"> {% if css_file %}
    <link href="{{ css_file }}" rel="stylesheet" type="text/css"> {% else %}
    <link href="{{ url_for('static', filename='style/default.css') }}" rel="stylesheet" type="text/css"> {% endif %}
    {% block style %}{% endblock %}
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}">
    </script>
    {% if js_file %}
    <script src="{{ js_file }}">
    </script>
    {% endif %}
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}">
    </script>
    {% block js %}{% endblock %}
</head>

<body>
    <div id="main_container">
        <!--header starts here-->
        <div class="container-fluid header gradient">
            <div class="container">
                <ul class="nav navbar-nav navbar-right" style="float: right;">
                    <li>
                        <button class="menu_btn" onclick="window.location='{{ url_for("index")}}';">
                            Home
                        </button>
                    </li>
                    <li>
                        <button class="menu_btn" onclick="window.location='{{ url_for("status")}}';">
                            Status of Submitted Projects
                        </button>
                    </li>
                    <li>
                        <button class="menu_btn" onclick="window.location='{{ url_for("about")}}';">
                            About
                        </button>
                    </li>
                </ul>
                <a class="navbar-brand text3D" href="{{ url_for("index")}}">
                    Gene Prediction using GeneMark
                </a>
                <div class="clear explain">
                 </div>
            </div>
        </div>
        <!--header ends here-->
        {% block content %}{% endblock %}
        <!--footer starts here-->
    </div>
    <footer class="footer text-center">
        <div class="container-fluid gradient">
            <div class="container">
                <div>
                    <a href="http://www.agr.gc.ca/eng/home/?id=1395690825741" target="_blank">
                        <img alt="AAFC" height="30px" src="{{ url_for ('static', filename='img/aafc.png') }}" />
                    </a>
                </div>
                <div>
                    Copyright © 2016
                </div>
            </div>
        </div>
    </footer>
    <!--footer ends here-->
    <script>
    function locateFooter() {
        var delta = $(window).height() - $('#main_container').height();
        if (delta > $('footer').height()) {
            $('footer').addClass('navbar-fixed-bottom');
        } else {
            $('footer').removeClass('navbar-fixed-bottom');
        }
    }
    $(function() {
        $(window).resize(locateFooter);
        locateFooter();
        $('footer').css({
            visibility: 'visible'
        });
    });
    </script>
</body>

</html>
