{% extends "base.html" %} {% block js %}
<script src="{{ url_for('static', filename='js/tool.js') }}">
</script>
<script src="{{ url_for('static', filename='js/bootstrap-switch.js') }}">
</script>
{% endblock %} {% block style %}
<link href="{{ url_for('static', filename='style/bootstrap-switch.css') }}" rel="stylesheet" type="text/css"> {% endblock %} {% block content %}
<div class="container">
  <div id="RGAugury">
    <form action="" enctype="multipart/form-data" method="POST" name="rag" role="form">
      <input type="hidden" name="fingerprint" value="">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="form-group">
            <fieldset class="well the-fieldset">
              <legend class="the-legend embossed_txt">
                Project name
              </legend>
              <p>
                Project name:
                <input maxlength="20" id="proj_name" name="proj_name" type="text" class="form-control" />
              </p>
              <p hidden="">
                E-mail:
                <input id="input1" type="text">
              </p>
            </fieldset>
          </div>
          <div class="form-group">
            <fieldset class="well the-fieldset">
              <legend class="the-legend embossed_txt">
                Sequence parameters
              </legend>
              <div id="sequence-div">
                Enter genomic sequence(s) in FASTA format:
              </div>
              <div id="sample-div">
                <span id='sample-span'>Sample:</span>
                <input type="checkbox" data-size='mini' name="sample">
              </div>
              <textarea spellcheck="false" class="form-control" id="protein_seq" name="protein_seq" rows="5"></textarea>
              <div id="div-gff-fasta">
              <div id="loadFile-div">
                <br> or load a local file in
                <a href="help#markdown-header-fasta-format-for-protein-and-dna"> FASTA </a> format:
                <input id="seq_file" name="seq_file" type="file" value="">
                <br>
              </div>
             </div>
              <br>
            </fieldset>
          </div>
          <div class="form-group">
            <fieldset class="well the-fieldset">
              <legend class="the-legend embossed_txt">
                Program parameters
              </legend>
              <p>
                Species:
                <select name="species">
                  <option>Wheat</option>
                  <option>A. ambiae</option>
                  <option>A. thaliana</option>
                  <option>Barley</option>
                  <option>C. briggsae</option>
                  <option>C. elegans</option>
                  <option>C. intestinalis</option>
                  <option>Maize</option>
                  <option>C. reinhardtii</option>
                  <option>C. remanei</option>
                  <option>D. melanogaster</option>
                  <option>Human</option>
                  <option>M. truncatula</option>
                  <option>Rice</option>
                </select>
              </p>
            </fieldset>
          </div>
          <div class="text-center">
            <button class="btn btn-primary btn-lg" type="submit">
              Submit
            </button>
            <!-- or -->
            <button class="btn btn-info btn-lg" type="reset">
              Reset
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="modal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <h4>
                </h4>
      </div>
      <div class="modal-footer">
        <button id='still-run' class="btn btn-danger" data-dismiss="modal" type="button">
          I know the consequence.
        </button>
        <button class="btn btn-default" data-dismiss="modal" type="button">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
