{% extends "base.html" %} {% block content %}
<span hidden="" id="prj_id">
        {{prj_id}}
    </span>
<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <br> All results can be downloaded as a package from
      <a href="{{result_zip}}">
                            <span class='download'>here</span>
                        </a>
      <br>
      <br> You can also view the individual result files
      <br>
      <br>
      <ul id="download_area">
        {% for file in files %}
        <li>
          <a href="{{ file.href }}"> {{ file.name }} </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}
</link>
